body {
  text-align: left;
  direction: ltr;
}

.side-bar {
  left: -400px;
}

.side-bar.open {
  right: auto !important;
  left: 0;
}

.custom-paginate ul li a span.number.icon i {
  transform: rotate(180deg);
}

.modal-content .content .head h4 {
  text-align: left;
}

.modal-content .content .head::after {
  right: auto;
  left: -10px;
}

.about_us .image .img_border {
  left: -37px;
  right: auto;
}

.head-with-border h2 {
  position: relative;
}

.head-with-border h2:before {
  right: 0;
}

.floating-label-group .floating-label{
  right: auto;
  left: 12px;
}
/* media */
